.Portfolio-hero-card{
 padding: 16px ;
 background-color: var(--bg-white);
 border-radius: var(--radius-xl);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.tab-badge-active{
 padding: 8px 24px;
 background: var(--primary-gradient);
 color: #fff;   
 line-height: 20px;
 border-radius: var(--radius-full);
}
.tab-badge-default{
 padding: 8px 24px;
 background-color: #3F1F7114;
 color: #3F1F71B2;  
  line-height: 20px; 
 border-radius: var(--radius-full);
}
.background-box {
background-image: url("Images/bg-image.png");
 background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat; 
  height: 500px;  
  border-radius: var(--radius-xl);
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 40px;
}
.background-box::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
z-index: -1;
}
.portfolio-card img{
border-radius: 0px;
margin-bottom: 26px;
}
.portfolio-card_card{
    background-color: #F7F9FB1A;
    padding: var(--space-lg);
    border-radius: var(--radius-xl);
}
.tech-stack-card{
border: 1px solid #FFFFFF33;
padding: 4px 8px;
border-radius: 4px;
}
.get-study-card{
 background-color: #000;
 line-height: 16px;
 border-radius: var(--radius-full);
 padding: 4px 12px;
 display: inline-block;
 
}